

#page-container {
    display: block;
}


#component {
display: inline-flex;
height: 200px;
width: 475px;
border-style: solid;
border-top-width: 5px;
border-bottom-width: 5px;
border-left-width: 5px;
border-right-width: 5px;
border-color: black;
/* column-count: 6; */
}

.band-value {
    width: 48px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: dashed;

border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-color: black;
}

#band-value-container {
    display: inline-flex;
    width: 475px
}


.color-band {
    height: 200px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.color-band-last {
    height: 200px;
    width: 50px;
    margin-left: 60px;
    margin-right: 10px;
}

.band-value-last {
    width: 48px;
    margin-left: 60px;
    margin-right: 10px;
    border-style: dashed;

border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-color: black;
}

#component-value {
    font-size: medium;
    margin-left: 100px;
}