
html {
    min-height: 100vh;
    padding: 0;
  }
  
  body {
    height: 100vh;
    padding: 0;
    background-color: white;
  }
  
  h3 {
      text-align: center;
  }
  
  #page-container {
      position: relative;
      min-height: 100vh;
      display: block;
      
  }
  
  
  #sub-page-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    min-height: 100vh;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }



  #component-container {
    display: grid;
    grid-template-columns: 230px 500px 230px;
    grid-template-rows: 105px 105px;
    gap: 0px 0px;
    grid-template-areas:
      "left-top component right-top"
      "left-bottom component right-bottom";
  }
  
  /* .component { grid-area: component; }
  
  .left-bottom { grid-area: left-bottom; }
  
  .left-top { grid-area: left-top; }
  
  .right-top { grid-area: right-top; }
  
  .right-bottom { grid-area: right-bottom; }
   */

/* #component-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

  


#component {
    display: inline-flex;
/* height: 200px;
width: 500px; */
border-style: solid;
border-top-width: 5px;
border-bottom-width: 5px;
border-left-width: 5px;
border-right-width: 5px;
border-top-left-radius: 80px;
border-bottom-left-radius: 80px;
overflow: hidden;
border-top-right-radius: 80px;
border-bottom-right-radius: 80px;
border-color: black;
grid-area: component;
/* column-count: 6; */
}


/* #left-leg {
    width: 200px;
    height: 200px;
    vertical-align: top;
    margin-left: auto;
    display: inline-flex;
} */

#left-top {
    /* display: block;
    width: 100%;
    height: 100px; */
    grid-area: left-top;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    /* vertical-align: top; */
}

#left-bottom {
  /* width: 100%;
  height: 100px; */
  grid-area: left-bottom;
  border-top-style: solid;
    border-top-color: black;
    border-top-width: 2px;
    /* vertical-align: top; */
}

/* #right-leg {
    vertical-align: top;
    width: 200px;
    vertical-align: top;
    margin-right: auto;
    display: inline-flex;
} */

#right-top {
    /* display: table;
    width: 100%;
    height: 100px; */
    grid-area: right-top;
    /* vertical-align: top; */
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

#right-bottom {
    /* display: table;
    width: 100%;
    height: 100px; */
    grid-area: right-bottom;
    
  border-top-style: solid;
    border-top-color: black;
    border-top-width: 2px;
    /* vertical-align: top; */
}



/* 
.band-value {
    width: 48px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: dashed;

border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-color: black;
} */

/* #band-value-container {
    display: inline-flex;
    width: 100%;
} */


.color-band {
    height: 200px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.color-band-last {
    height: 200px;
    width: 50px;
    margin-left: 60px;
    margin-right: 10px;
   
    
}

.color-band-first {
    height: 200px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}

/* .band-value-last {
    width: 48px;
    margin-left: 60px;
    margin-right: 10px;
    border-style: dashed;

border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-color: black;
} */

/* #component-value-container {
    width: 100%;
    display: inline-flex;
} */

#band-count-picker-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    align-self: auto;
    flex: 0 0 auto;
}

/* #band-count-picker {
    margin-right: auto;
    margin-left: auto;
} */

#component-value {
    font-size: x-large;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    align-self: auto;
    flex: 0 0 auto;
    
}

#color-picker-container {
    /* justify-self: center; */
    display: inline-flex;
    justify-content: center;
    width: 775px;
    min-height: 400px;
    height: fit-content;
    border-color: black;
    border-style: solid none solid none;
border-top-width: 5px;
border-bottom-width: 5px;
padding-left: 10px;
margin-left: 92px;
margin-right: 92px;
}

.color-picker-column {
    width: 125px;
    border-color: black;
    border-style: none dashed none dashed;
border-right-width: 1px;
border-left-width: 1px;
}
.color-picker-column label {
    font-size: x-large;
}

.column-title {
    width: 125px;
    display:table;
margin:0 auto;
text-align: justify;
text-align-last: center;
font-weight: bold;
font-size: large;
border-bottom-style: solid;
border-bottom-color: black;
border-bottom-width: 2px;
}


#save-button-container {

    display: none;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    align-self: auto;
    flex: 0 0 auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#success-notice {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #success-notice.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #login-form-container 
  {
      display: none;
      border: solid;
      border-color: grey;
      border-width: 1px;
  }

  .centered {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    align-self: auto;
    flex: 0 0 auto;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left-col center-col center-col right-col"
      "left-col center-col center-col right-col";
  }
  .center-col { grid-area: center-col; }
  .left-col { grid-area: left-col; }
  .right-col { grid-area: right-col; }

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: violet;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.black {
    background-color: black;
    color: white;
}

.brown {
    background-color: saddlebrown;
    color: white;
}

.white {
    background-color: white;
}

.grey {
    background-color: grey;
}