




#component {
display: block;
height: 200px;
width: 600px;
border-style: solid;
border-top-width: 5px;
border-bottom-width: 5px;
border-left-width: 5px;
border-right-width: 5px;
border-color: black;
/* column-count: 6; */
}

#color-band-1 {
    height: 200px;
    width: 75px;
    background-color: red;
}

#color-band-2 {
    height: 200px;
    width: 75px;
    background-color: red;
}

#color-band-3 {
    height: 200px;
    width: 75px;
    background-color: red;
}

#color-band-4 {
    height: 200px;
    width: 75px;
    background-color: red;
}

#color-band-5 {
    height: 200px;
    width: 75px;
    background-color: red;
}

#color-band-6 {
    height: 200px;
    width: 75px;
    background-color: red;
}

